/.bash_history
/.bash_logout
/.bash_profile
/.bash_profile.save
/.bashrc
/.cache
/.config
/.docker
/.landscape
/.local
/.motd_shown
/.profile
/.profile.save.1
/.sudo_as_admin_successful
/.viminfo
/.vscode-server
/.wget-hsts
/dockerfile
/downloads
/go
/html
/index.html
/.azure
/.aws